*{
 margin: 0;
 text-align: center;
 vertical-align: middle;
}
.App{
 height: 100vh;
 width: 100vw;
}
div {
 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.header{
  height:15vh;
  width:100vw;
  background-color: lightblue;
}

.form{
height: 70vh;
width:100vw;
background-color: lightgoldenrodyellow;
}

.footer{
  height:15vh;
  width:100vw;
  background-color:lightpink;
}